sbs-landing/n8n-workflow-sbs-complete.json
{
  "name": "SBS Claim Processing - Complete Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sbs-claim-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Claim Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "sbs-claim-webhook",
      "id": "webhook-node-1"
    },
    {
      "parameters": {
        "functionCode": "// Extract and validate claim data\nconst body = $input.item.json.body;\n\nreturn {\n  json: {\n    claimId: `CLM-${Date.now()}`,\n    timestamp: new Date().toISOString(),\n    patientName: body.patientName,\n    patientId: body.patientId,\n    memberId: body.memberId || body.patientId,\n    claimType: body.claimType || 'professional',\n    userEmail: body.userEmail,\n    procedures: body.procedures || [],\n    diagnoses: body.diagnoses || [],\n    status: 'received'\n  }\n};"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "validate-node-1"
    },
    {
      "parameters": {
        "url": "http://sbs-normalizer:8000/normalize",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "1. Normalizer Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200],
      "id": "normalizer-node-1"
    },
    {
      "parameters": {
        "url": "http://sbs-financial-rules:8002/validate",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "2. Financial Rules Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200],
      "id": "financial-node-1"
    },
    {
      "parameters": {
        "url": "http://sbs-signer:8001/sign",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 30000
        },
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "3. Digital Signer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200],
      "id": "signer-node-1"
    },
    {
      "parameters": {
        "url": "http://sbs-nphies-bridge:8003/submit-claim",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "4. NPHIES Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200],
      "id": "nphies-node-1"
    },
    {
      "parameters": {
        "functionCode": "// Format success response\nconst result = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    claimId: result.claimId || result.claim_id,\n    message: 'Claim submitted successfully to NPHIES',\n    nphiesResponse: result.nphiesResponse || result,\n    timestamp: new Date().toISOString(),\n    processingTime: `${Date.now() - new Date($node['Validate Input'].json.timestamp).getTime()}ms`\n  }\n};"
      },
      "name": "Format Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 200],
      "id": "success-format-1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300],
      "id": "respond-node-1"
    },
    {
      "parameters": {
        "functionCode": "// Handle errors\nconst error = $input.item.json.error || $input.item.json;\n\nreturn {\n  json: {\n    success: false,\n    error: error.message || 'Processing failed',\n    details: error,\n    timestamp: new Date().toISOString(),\n    claimId: $node['Validate Input'].json.claimId\n  }\n};"
      },
      "name": "Handle Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 400],
      "id": "error-handler-1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "error"
            }
          ]
        }
      },
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 400],
      "id": "error-check-1"
    }
  ],
  "connections": {
    "Webhook - Claim Submission": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "1. Normalizer Service", "type": "main", "index": 0 }]]
    },
    "1. Normalizer Service": {
      "main": [[{ "node": "2. Financial Rules Engine", "type": "main", "index": 0 }]]
    },
    "2. Financial Rules Engine": {
      "main": [[{ "node": "3. Digital Signer", "type": "main", "index": 0 }]]
    },
    "3. Digital Signer": {
      "main": [[{ "node": "4. NPHIES Submission", "type": "main", "index": 0 }]]
    },
    "4. NPHIES Submission": {
      "main": [[
        { "node": "Format Success Response", "type": "main", "index": 0 },
        { "node": "Check for Errors", "type": "main", "index": 0 }
      ]]
    },
    "Format Success Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Check for Errors": {
      "main": [
        [{ "node": "Handle Error", "type": "main", "index": 0 }],
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Handle Error": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "sbs-complete-pipeline",
  "meta": {
    "instanceId": "sbs-production"
  },
  "tags": ["SBS", "Production", "Healthcare"]
}
