n8n-workflows/sbs-full-workflow.json
{
  "name": "Full Integrated SBS Workflow (Normalizer + Rules + Signer)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nphies-gateway",
        "options": {}
      },
      "name": "Webhook: HIS Claim",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "sbs-his-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://normalizer-service:8000/normalize",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  facility_id: $json.body.facility_id,\n  internal_code: $json.body.service_code,\n  description: $json.body.service_desc\n}) }}",
        "options": {}
      },
      "name": "AI Normalizer Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [300, 300]
    },
    {
      "parameters": {
        "functionCode": "const normalizedData = items[0].json;\nconst rawClaim = $node[\"Webhook: HIS Claim\"].json.body;\n\nreturn [{\n  json: {\n    resourceType: \"Claim\",\n    status: \"active\",\n    facility_id: rawClaim.facility_id,\n    patient: {\n      reference: rawClaim.patient_id || \"Patient/12345\"\n    },\n    provider: {\n      reference: `Organization/${rawClaim.facility_id}`\n    },\n    item: [{\n      sequence: 1,\n      productOrService: {\n        coding: [{\n          system: \"http://sbs.sa/coding/services\",\n          code: normalizedData.sbs_mapped_code,\n          display: normalizedData.official_description\n        }]\n      }\n    }]\n  }\n}];"
      },
      "name": "Build FHIR Object",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://financial-rules-engine:8002/validate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Apply Financial Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://signer-service:8001/sign",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  payload: $json,\n  facility_id: $node[\"Webhook: HIS Claim\"].json.body.facility_id\n}) }}",
        "options": {}
      },
      "name": "Digital Signer Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nphies-bridge:8003/submit-claim",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  facility_id: $node[\"Webhook: HIS Claim\"].json.body.facility_id,\n  fhir_payload: $node[\"Apply Financial Rules\"].json,\n  signature: $json.signature,\n  resource_type: \"Claim\"\n}) }}",
        "options": {}
      },
      "name": "Final NPHIES Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook: HIS Claim": {
      "main": [
        [
          {
            "node": "AI Normalizer Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Normalizer Step": {
      "main": [
        [
          {
            "node": "Build FHIR Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build FHIR Object": {
      "main": [
        [
          {
            "node": "Apply Financial Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Financial Rules": {
      "main": [
        [
          {
            "node": "Digital Signer Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digital Signer Step": {
      "main": [
        [
          {
            "node": "Final NPHIES Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
